
.gold{    background:#CCC476;}
.blue{    background:#4E6CC2;}
.orange{    background:#D96936;}
.pink{    background:#EDAAA2;}
.brown{    background:#6C3521;}



body{
    color:#333;
  
    background-repeat: repeat;
}
<<<<<<< HEAD
=======

>>>>>>> bd14e697153a2253cac95f949fb41fc62c991ed0

header{
    background-color: green;
    border-bottom:#6C3521 2px solid;
}

.inner{
    margin:auto;
}

.nav-link{
    color:rgb(47, 33, 108);
    font-weight:bold;
}
nav .active{
    color:rgb(8, 8, 7);
    ;

}

.title{
    text-align:center;
}

a {
    color:#D96936;
}
a:hover{
    color:rgb(8, 8, 8);
    
}

<<<<<<< HEAD
=======

>>>>>>> bd14e697153a2253cac95f949fb41fc62c991ed0
h2{
    color:#4E6CC2;
}

.main{
    margin:30px;
}

.content{
    max-width:700px;
}
.about-img{
    max-height:200px;
    margin-right:20px;
}

<<<<<<< HEAD
=======

>>>>>>> bd14e697153a2253cac95f949fb41fc62c991ed0
.port-card{
    width:200px;
    height:200px;
    overflow:hidden;
    border:1px solid #D96936;
    box-shadow:2px 2px 4px rgba(0,0,0,.6)
}
.port-card:hover{
    border:1px solid #CCC476;
    box-shadow:0px 0px 4px #D96936;
}
